unable to add Server URL containing hyphen

Hi,
I have tried to create a new connection, but the field "Server URL (ADT URL)" is not validating server names containing hyphen character.
Example: https://name1-name2.myserver.com
I think you should allow the hyphen character.

Maybe you can take a look on these nprms:
RFC 1035
RFC 1123
RFC 5890–5895 (IDNA 2008)